*{
    margin : 0;
    padding : 0;
    vertical-align: top;
    font-family: "Poppins";
}


/*------------------------------------------------------------------------SectionHOME------------------------------------------------------------------------*/


/* ---------------------HEADER--------------------- */

#sectionHome header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 30px;
}

#sectionHome nav{
    display: flex;
    gap: 40px;
}

/* ---------------------Main--------------------- */

#sectionHome main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:140px;
    padding-right:12%;
    padding-left:12%;
    gap: 150px;
}

/* ---------------------ID et Class--------------------- */

#sectionHome {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
}

#sectionHome a{
    text-decoration: none;
    color: white;
}

/* ---------Reseaux--------- */
#sectionHome #reseaux{
    display: flex;
    gap: 30px;
}

/* ---------Presentation--------- */
#sectionHome #presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sectionHome #presentation h1{
    font-size: 60px;
    line-height: 80px;
}

#sectionHome #presentation p{
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ---------Bouton--------- */
#sectionHome .buttonIn {
    display: flex;
    justify-content: space-between;
    width: 450px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.839);
    padding: 5px;
}

#sectionHome .buttonIn button{
    color: white;
    background-color:rgb(38, 142, 202);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px; 
    border: 0;
    cursor: pointer;
}

#sectionHome .buttonIn input{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    border: 0;
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
    font-style: italic;
    outline: 0;
}


/*------------------------------------------------------------------------SectionFEATURES------------------------------------------------------------------------*/

/* ---------------------HEADER--------------------- */
#sectionFeatures header p{
    text-align: center;
    color: grey;
    padding-left: 30%;
    padding-right: 30%;
}

/* ---------------------MAIN--------------------- */
#sectionFeatures main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;
    padding-top: 100px;
}

/* ---------------------ID et Class--------------------- */

#sectionFeatures {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background: white;
}
/* ---------Card--------- */
#sectionFeatures .card{
    width: 350px;
    height: 350px;
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
}

#sectionFeatures .card p{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#sectionFeatures .card:hover{
    transform: translateY(-10px);

}
/* ---------logo Font Awesome--------- */
#sectionFeatures .FA{
    font-size: 40px;
    padding-top: 100px;
}

/*------------------------------------------------------------------------SectionABOUT------------------------------------------------------------------------*/

/* ---------------------HEADER--------------------- */
#sectionAbout header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-top: 30px;
    padding-right:35%;
    padding-left:35%;
    justify-content: space-around;
}

/* ---------------------Main--------------------- */
#sectionAbout  main{
    display: flex;
    flex-direction: column;
    padding-top: 100px;

}

/* ---------------------ID et Class--------------------- */
#sectionAbout {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background: white;
}

#sectionAbout p{
    text-align: center;
    color: grey;
}

#sectionAbout h1{
    text-align: center;
}

#sectionAbout .row{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ---------Presentation--------- */
#sectionAbout .accomplissement{
    display: flex;
    flex-direction: column;
}

/* ---------Membre--------- */
#sectionAbout .membre{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#sectionAbout .membre img{
    border-radius: 50%;
    width: 10%;
}